package views

templ Index() {
	@Layout() {
		<h1>Drucken</h1>
		<div>
			<a href="/label/hackspace"><button>Hackspace-Label</button></a>
			<a href="/label/raw"><button>EPL2</button></a>
		</div>
	}
}

